@import 'fonts.scss';
@import 'reset.scss';
@import 'pages.scss';

$colorNavText: white;
$colorIntroText: white;
$colorTextAbout: white;
$colorTestimonials: white;
$colorLocation: white;
$colorNewslatter: white;
$colorFooter: white;

/* header
=====================================*/

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 40px 40px 40px;
  }
}

.logo {
  svg {
    width: 50px;
    height: 50px;
    fill: #fff;
  }
}

.header._black {
  background-color: #444444;
}

.nav {
  @media (max-width: 1200px) {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: all 1s ease;
    position: absolute;

    &._active {
      visibility: visible;
      opacity: 1;
      margin: 430px 0 0 0;
      width: 100%;
      right: 0;
      text-align: center;
      z-index: 1;
      background-color: #444444;
      overflow: hidden;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;

    @media (max-width: 1200px) {
      flex-direction: column;
      //align-items: flex-start;
      text-align: center;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      background-color: #444444;
    }
  }

  &-list__item {
    @media (max-width: 1200px) {
      margin-bottom: 20px;
    }
  }

  &__item {
    margin-right: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-family;
    font-size: 16px;
    color: $colorNavText;
    transition: 1.5s;
    &:hover {
      color: #272323;
    }

    @media (max-width: 1200px) {
      font-size: 30px;
      margin-right: 0;
      // padding-left: 40px;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;

  & span,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    transition: all 0.2s linear;
    background-color: #fff;
  }

  &::before,
  &::after {
    content: '';
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  & span {
    top: 50%;
    transform: translate(0px, -50%);
  }

  @media (max-width: 1200px) {
    & {
      display: block;
      width: 30px;
      height: 18px;
      z-index: 5;
      position: relative;
    }
  }
}

/*===================================================*/

/* intro
==================================================*/

.intro {
  height: 100vh;
  background-image: url('../img/introBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $colorIntroText;
  font-family: 'Inter';
  padding-top: 280px;

  .logo {
    padding-bottom: 33px;
  }

  .main__title {
    padding-bottom: 24px;
    font-size: 96px;
    font-weight: 700px;
    font-family: $font-family;
    @media (max-width: 800px) {
      font-size: 60px;
    }
  }

  .main__description {
    //padding-bottom: 48px ;
    font-size: 32px;
    padding-bottom: 48px;
    font-family: $font-family;
    @media (max-width: 800px) {
      font-size: 25px;
    }
  }
}

/* recipes
=================================================*/

.recipes {
  margin: 30px 0;
}

/* list-card
============================================*/

.recipes-list {
  display: flex;
  list-style-type: none;
  gap: 15px;

  li {
    transition: tranform 1s ease-in-out;
    font-family: $font-family;
    text-align: left;

    &:hover {
      transform: scale(1.02);
    }
  }

  a {
    text-decoration: none;
  }

  h2 {
    color: black;
    font-family: $font-family;
  }
}

.card__description {
  margin-top: 15px;

  p {
    padding: 8px 0;
    color: black;
  }
}

/*footer
======================================*/

.footer {
  margin-top: auto;
  background-color: rgba(255, 187, 0, 0.6);
  p {
    padding: 30px 0;
  }
}
